:root {
  --radius: 200px; /* デフォルトの半径を定義 */
}

body {
  display: grid;
  place-items: center;
  width: 300px; /* 全体の横幅を60%に縮小 */
  margin: 1rem auto; /* 上下左右にマージンを追加 */
  grid-template-columns: 1fr; /* グリッドカラムを1列に変更 */
  grid-template-rows: auto auto 1fr; /* グリッドテンプレートの行を調整 */
}



#selects > div {
  display: flex;
  justify-content: space-around; /* ボタンを等間隔で配置 */
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}

.circle2 {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  background-color: rgb(123, 123, 255); /* 円の背景色 */
  border-radius: 50%; /* 円形にする */
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem; /* 下部のマージンを追加 */
  margin-top: 1rem; /* 上部のマージンを追加 */
}

 #selected-task-display {
  text-align: center; /* テキストを中央揃え */
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}
.currentSeconds{
  grid-column: 1/2;
  grid-row: 1/2;
}
#count_box {
  display: grid;
  place-items: center;
  height: var(--radius);
  width: var(--radius);
  font-size: 20;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}
p{
  color: black;
  margin: 0;
}
h1 {
  text-align: center; /* テキストを中央揃え */
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}

form {
  text-align: center; /* フォームの要素を中央揃え */
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}

#table {
  background-color: skyblue;
  width: 80%; /* 横幅を80%に変更 */
  border-radius: 1rem;
  margin-bottom: 1rem; /* 下部のマージンを追加 */
}

#table h2 {
  text-align: center; /* テキストを中央揃え */
  margin-top: 0.5rem; /* 上部のマージンを追加 */
  margin-bottom: 0.5rem; /* 下部のマージンを追加 */
}

li {
  margin: 0.5rem 0; /* 上下のマージンを追加 */
}

.dialog {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 他の要素の上に表示するためにz-indexを高く設定 */
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#selected-task-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #333;
  z-index: 1;
}