@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
:root {
  --radius: 200px; /* デフォルトの半径を定義 */
}
body {
  display: grid;
  place-items: center;
  height: 140px;
  width: 300px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 13px 0;
}
#selects {
  height: 100%;
  width: 100%;
  grid-column: 1/6;
  grid-row: 8/10;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.circle {
  width: 60px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: #fff; /* 円の背景色 */
  border-radius: 50%; /* 円形にする */
  position: relative;
}
.circle2 {
  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: rgb(0, 103, 105); /* 円の背景色 */
  border-radius: 50%; /* 円形にする */
  position: relative;
  overflow: hidden;
}
.triangle1{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.triangle2{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.triangle3{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.triangle4{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.triangle5{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.triangle6{
  height: auto;
  width: auto;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}

.triangle1::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))));
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.triangle2::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg)))) rotate(60deg);
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.triangle3::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg)))) rotate(120deg);
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.triangle4::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg)))) rotate(180deg);
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.triangle5::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg)))) rotate(240deg);
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.triangle6::before {
  content: "";
  width: 0;
  height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  transform-origin: left bottom; /* 中心を縦横の中心に設定 */
  transform: translate(calc(var(--radius) / 2), calc(var(--radius) / 2 - var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg)))) rotate(300deg);
  border-right: calc(var(--radius) * 1.25 * sin(calc(var(--angle) * 1deg))) solid transparent;
  border-top: calc(var(--radius) * 1.25 * cos(calc(var(--angle) * 1deg))) solid rgb(157, 222, 139);
}
.currentSeconds{
  grid-column: 1/2;
  grid-row: 1/2;
}
#count_box{
  display: grid;
  place-items: center;
  height: var(--radius);
  width: var(--radius);
  grid-column: 2/5;
  grid-row: 2/5;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20;
  font-weight: bold;
  z-index: 1;
}
p{
  color: black;
  margin: 0;
}
